
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100dvh;
  width: 100dvw;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--game-background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

:root {
  /* Colores para los jugadores (Impostor Game) */
  --player-color-1: #f44336; /* Red */
  --player-color-2: #2196f3; /* Blue */
  --player-color-3: #4caf50; /* Green */
  --player-color-4: #e91e63; /* Pink */
  --player-color-5: #ff9800; /* Orange */
  --player-color-6: #d1be15; /* Yellow */
  --player-color-7: #9c27b0; /* Purple */
  --player-color-8: #00bcd4; /* Cyan */

  /* Colores globales del juego */
  --game-background: #1e1e2f; /* Dark Blue/Grey Background */
  --game-text: #eceff1; /* Light Grey Text */
  --game-text-dark: #eceff181;
  --game-surface: #27293d; /* Slightly lighter for cards/containers */
}
