<section class="center">
    <mat-form-field class="field" appearance="outline">
        <mat-label class="label">Ingresa tu nombre</mat-label>
        <input class="input" matInput [formControl]="nameControl">
        @if(nameControl.hasError('required')){
        <mat-error>El nombre es obligatorio</mat-error>
        }
    </mat-form-field>

    <button (click)="createRoom()" mat-raised-button color="primary" class="btn" [disabled]="nameControl.invalid">
        Crear sala
    </button>
    <button (click)="joinRoom()" mat-raised-button color="primary" class="btn" [disabled]="nameControl.invalid">
        Unirse a sala
    </button>
</section>